<div class="foot-bg about-bg">
        <div class="center">
            <div class="foot-box text-center">
                <div class="aboutwe overhd">
                    <div class="ef-left same">
                        <div class="gywm">
                            <h5>关于我们</h5>
                            <p>bout</p>
                        </div>
                        <ul>
                            <li><a href="/view/about.html" >博联国际&nbsp;|</a></li>
                            <li><a href="clause.html" >&nbsp;条款规则</a></li>
                            <li><a href="duty.html" >博彩责任&nbsp;|</a></li>
                            <li><a href="statement.html" >&nbsp;免责声明</a></li>
                            <li><a href="helpcenter.html" >安全咨询&nbsp;|</a></li>
                            <li><a href="clause.html">&nbsp;隐私策略</a></li>
                        </ul>
                    </div>
                    <div class="yy ef-left"></div>
                    <div class="ef-right same">
                        <div class="sybz">
                            <h5>使用帮助</h5>
                            <p>uide</p>
                        </div>
                        <ul>
                            <li><a href="helpcenter.html" >如何注册&nbsp;|</a></li>
							<li><a href="helpcenter.html?code=deposit">&nbsp;如何存款</a></li>
							<li><a href="helpcenter.html?code=withdrawals">如何取款&nbsp;|</a></li>
							<li><a href="helpcenter.html?code=account">&nbsp;账号问题</a></li>
							<li><a href="helpcenter.html?code=safety">安全问题&nbsp;|</a></li>
							<li><a href="helpcenter.html?code=platform">&nbsp;平台问题</a></li>
                        </ul>
                    </div>
                </div>
                <div class="foot-text">
                    <p>本网站属于菲律宾卡格杨（Cageayan）授权和监管 所有版权归 博联国际 所有</p>
                    <p>©2015-2018 Win World by BoLian Group LIMITED.</p>
                </div>
            </div>
        </div>
   </div>
