<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="shortcut icon" href="/favicon.ico" />
<title>博联娱乐-服务条款</title>
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/all.css" rel="stylesheet">
<link href="/css/tips.css" rel="stylesheet">
<link href="/css/about.css" rel="stylesheet">
</head>  
<body ng-app>

<!-- 头部 -->
<div class="top-bg"></div>

<main>
<div class="helpcenter">
	<!-- <div class="pro-top">
		<img src="/resources/yuncai//resources/yiyou/images/promotions/helpcenter.png">
	</div> -->
	<div class="pro-ct">
		<div>
			<div class="promo-nav  ym-gl"> 
                 <ul class="p-nav-cen">
					<li class=""><a href="/view/about.html"  ><i class="rm"></i>关于我们<img src="/images/promotions/icon-cur.png"  ></a></li>
					<li class=""><a href="/view/helpcenter.html" ><i class="cp"></i>常见问题<img src="/images/promotions/icon-cur.png"  ></a></li>
					<li class="cur"><a href="/view/clause.html" ><i class="zr"></i>条款与规则<img src="/images/promotions/icon-cur.png"  ></a></li>
					<li class=""><a href="/view/duty.html" ><i class="dz"></i>博彩责任<img src="/images/promotions/icon-cur.png"  ></a></li>
					<li class=""><a href="/view/statement.html"><i class="wq"></i>免责声明<img src="/images/promotions/icon-cur.png"  ></a></li>
					<li class=""><a href="/view/czwf.html"><i class="wf"></i>彩种玩法<img src="/images/promotions/icon-cur.png"  ></a></li>
<!-- 					<li class=""><a href="zhidu.html"><i class="zs"></i>招商制度<img src="/resources/yiyou/images/promotions/icon-cur.png"></a></li>
 -->				</ul>
			</div>
			<div class="tabBd">
				<div class="ab-m-cen">
					<h1>条款与规则</h1>
					<div class="ab-m-c-p">
						<h3>一、</h3>
						<p>本交易协定为本平台所有协议与规则，请会员注册本网站必须详阅各条规则，若注册会员点击“同意”进入本网站后，将视为已经接受本网站一切规定,若不点同意则无法注册。</p>
				
						<h3>二、</h3>
						<p>请定期修改本身账户的登入密码及资金密码，会员有责任确保自己的账户以及登入资料的保密性，所以会员账号在平台上的任何投注，将被视为有效。请不定时的做密码变更修改，确保账户安全。若账号被盗用所进行的任何投注提款等，本平台一概不负赔偿责任。</p>
					
						<h3>三、投注条款</h3>
						<p>1、投注若未显示投注成功，投注将被视为无效。</p>
						<br>
						<p>2、若开奖前玩家已成功投注，自动或强制断线时，并不影响开奖结算之结果。</p>
						<br>
						<p>3、若遇到官网未开奖或是开奖号结果错误，本平台将根据实际情况做退奖退单处理。</p>
						<br>
						<p>4、若遇到不可抗拒之灾害，例如骇客入侵、网路问题等造成数据丢失之情况，以本公司公告为准。</p>
						<br>
						<p>5、若发现会员以不正当手法或透过平台漏洞隐瞒不报等进行投注，造成有损害公司利益的情事发生，本公司有权取消该类投注单及其盈利，并停用该会员账号。</p>
						<br>
						<p>6、平台将会对所有的投注注单进行记录，如有任何的争议将以投注单记录为准。</p>
					
						<h3>四、</h3>
						<p>若发生官方未开奖的情况，平台将于5期后自动撤单，若撤单之后官方才开奖，平台将不予处理。</p>
						
						<h3>五、</h3>
						<p>平台客服在线及存取款时间为7X24小时，单次最低取款金额为100元，单次最高50000元，当日最高25万元。</p>
						
						<h3>六、</h3>
						<p>为了防止恶意洗钱，会员充值完必须消费充值金额的30％才能提款。</p>
						
						<h3>七、</h3>
						<p> 平台银行账号或支付宝充值账号会不定期的做更换，请每次会员充值前务必打开充值页面获取最新的充值账号，若充值到非公司当时提供之账号，所造成的任何损失，平台一律不予负责。</p>
						
						<h3>八、</h3>
						<p>所有信息包括存款账号,以平台显示的内容为主,客服没有任何QQ联系方式，唯一途径为平台上的客服人员，其他均为假冒，若因此类问题上当受骗，平台一律不予负责。</p>
					
						<h3>九、</h3>
						<p>若本公司发现会员有重复申请账号行为时，保留取消、收回会员所有优惠红利，以及优惠红利所产生的盈利之权利。</p>
					
						<h3>十、</h3>
						<p>会员账号若超过30天未登入，且账户余额小于10元，系统将自动删除账号。 数据保留15天。</p>
					
						<h3>十一、</h3>
						<p>平台将不定期进行例行的维护工作以及更新程序，请提前留意投注时间，以免造成不必要的损失。如果在预定时间内无法完成维护内容，开机时间也将继续顺延。</p>
						
						<h3>十二、</h3>
						<p>本公司保留不定时修改或增加协定游戏规则或保密条例等的操作权利，更改之条款将从更改发生后立即生效，并保留一切有争议事项及最后的决策权。</p>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>
</main>

<!-- 底部 -->
<footer></footer>

</body>
    <script src="/js/jquery-1.11.3.min.js"></script> 
    <script src="/lib/jquerySession.js" type="text/javascript"></script>
	<script src="/js/require.js"></script>
	<script src="/config/requireConfig.js"></script>
	<script src="/lib/angular.min.js" type="text/javascript"></script>
<script>

	require([
		"view/header/Header",
		"view/footer/footer",
	],function(Header,footer){
		new Header();
		new footer();
	}); 

$(document).ready(function(){
	adjust();
})

$(function(){
	var searchStr = window.location.search;
	var code = getQueryString(searchStr.substr(1), "code");
	if(code == "deposit") {
		$(".helpli li").eq(1).addClass("cur");
	} else if(code == "withdrawals") {
		$(".helpli li").eq(2).addClass("cur");
	} else if(code == "account") {
		$(".helpli li").eq(3).addClass("cur");
	} else if(code == "safety") {
		$(".helpli li").eq(4).addClass("cur");
	} else if(code == "platform") {
		$(".helpli li").eq(5).addClass("cur");
	} else {
		$(".helpli li").eq(0).addClass("cur");
	}
	
	/**
 * 根据name在str中取相应值
 * @param str : "id=123&code=aaa"
 * @param name
 * @returns
 */
function getQueryString(str, name) {
    if (!name) {
        return "";
    }
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = str.match(reg);
    if (r != null) {
        return (r[2]);
    }
    return "";
}

	
	
});

$(".helpcenter .qusetion-title").click(function(){
	var _that=$(this).parent("li");
	if(_that.attr("class")=="cur"){
		_that.removeClass("cur");
		return false;
	}	
})


function adjust(){
	var _bHeight = document.body.scrollHeight;
	if(_bHeight>870){
		$(".footer").css({"position":"absolute","bottom":"0"});
		var mgTop=(_bHeight-130);
		$(".pro-ct").css({"height":mgTop+"px"});
	}
	else{
		$(".footer").css({"position":"relative"});
		$(".ty-main").css({"height":"auto"});
	}
}
$(window).resize(function(){
	adjust();
});

$(function(){
	var searchStr = window.location.search;
	var code = getQueryString(searchStr.substr(1), "code");
	if(code == "deposit") {
		$(".helpli li").eq(1).addClass("cur");
	} else if(code == "withdrawals") {
		$(".helpli li").eq(2).addClass("cur");
	} else if(code == "account") {
		$(".helpli li").eq(3).addClass("cur");
	} else if(code == "safety") {
		$(".helpli li").eq(4).addClass("cur");
	} else if(code == "platform") {
		$(".helpli li").eq(5).addClass("cur");
	} else {
		$(".helpli li").eq(0).addClass("cur");
	}
});

$(".helpcenter .qusetion-title").click(function(){
	var _that=$(this).parent("li");
	if(_that.attr("class")=="cur"){
		_that.removeClass("cur");
		return false;
	}	
});
$(".nav-zuo li").mouseenter(function(){
	var _this = $(this).children("i").children("img");
	_this.animate({left:"-38px"});
});
$(".nav-zuo li").mouseleave(function(){
	if($(this).attr("class")=="cur")
		return false;
	var _this = $(this).children("i").children("img");
	_this.animate({left:"0"});
});

</script>
</html>