<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>博联国际-下载中心</title>
	<!-- Bootstrap -->
 <link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/all.css" rel="stylesheet">
<link href="/css/other.css" rel="stylesheet">
<link href="/css/tips.css" rel="stylesheet">
</head>
<body ng-app>
<main>
	<div class="xiazai-bg">
		<div class="center">
			<div class="xiazai-title overhd">
				<div class="yygj txtcen ef-left">
					<p>博联国际</p>
					<p class="yy">BOLIAN&nbsp;INTL</p>	
				</div>
				<p class="xzzx ef-left"> |&nbsp;下载中心</p>
			</div>
			<div class="xiazai-logo overhd">
				<a href="/"  ><img class="ef-left" src="/images/dw/xiazai-logo2.png"  alt="#"></a>
				<p class="ef-left">教你玩转彩票、真人、电子、棋牌等娱乐游戏 </p>
			</div>
			<div class="xiazai-cont">
				<img src="/images/dw/xiazai-nr2.png"  alt="#">
			</div>
			<div class="xiazai-ewm overhd">
				<ul class="overhd">
					<li class="and"><div class="ef-left" ><p>APP下载</p><a href="javascript:;"  target="_blank">免费下载</a></div></li>
					<li class="win"><div class="ef-left" ><p>Win版客户端</p><a href="javascript:;" >免费下载</a></div></li>
					<li class="mac"><div class="ef-left" ><p>Mac版客户端</p><a href="javascript:;" >免费下载</a></div></li>
				</ul>
			</div>
		</div>
	</div>
</main>
</body>