 <!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="shortcut icon" href="/favicon.ico" />
<title>博联娱乐-帮助中心</title>
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/all.css" rel="stylesheet">
<link href="/css/tips.css" rel="stylesheet">
<link href="/css/about.css" rel="stylesheet">
</head> 
<body ng-app>

<!-- 头部 -->
<div class="top-bg"></div>

<main>
<div class="helpcenter">
	<!-- <div class="pro-top">
		<img src="../../resources/yuncai//resources/yiyou/images/promotions/helpcenter.png">
	</div> -->
	<div class="pro-ct">
		<div>
			<div class="promo-nav  ym-gl"> 
                <ul class="p-nav-cen">
					<li class=""><a href="/view/about.html"  ><i class="rm"></i>关于我们<img src="/images/promotions/icon-cur.png"  ></a></li>
					<li class="cur"><a href="/view/helpcenter.html" ><i class="cp"></i>常见问题<img src="/images/promotions/icon-cur.png"  ></a></li>
					<li class=""><a href="/view/clause.html" ><i class="zr"></i>条款与规则<img src="/images/promotions/icon-cur.png"  ></a></li>
					<li class=""><a href="/view/duty.html" ><i class="dz"></i>博彩责任<img src="/images/promotions/icon-cur.png"  ></a></li>
					<li class=""><a href="/view/statement.html"><i class="wq"></i>免责声明<img src="/images/promotions/icon-cur.png"  ></a></li>
					<li class=""><a href="/view/czwf.html"><i class="wf"></i>彩种玩法<img src="/images/promotions/icon-cur.png"  ></a></li>
<!-- 					<li class=""><a href="zhidu.html"><i class="zs"></i>招商制度<img src="/resources/yiyou/images/promotions/icon-cur.png"></a></li>
 -->				</ul>
			</div>
			<div class="tabBd">
				<div class="pormo-cen zhangkai ab-m-cen tb-imte cur" style="display: block;">
					<h1>常见问题</h1>
                    <ul id="helpli">
						<li>
							<div class="qusetion-title">
								<span>1</span>
								<i class="answer-hide">收起</i>
								<i class="answer-show">打开</i>
								<p>如何注册</p>
							</div>
							<div class="answer">
								<p>您好，非常抱歉，由于平台没有提供会员注册的服务，您可以在百度或其他搜索引擎输入关键字“亿游国际注册”、“亿游国际平台开户”或“亿游国际平台代理”查询上级代理的信息，给您带来不便请您谅解，谢谢！</p>
							</div>
						</li>
						<li>
							<div class="qusetion-title">
								<span>2</span>
								<i class="answer-hide">收起</i>
								<i class="answer-show">打开</i>
								<p>如何充值？</p>
							</div>
							<div class="answer">
								<p>一、 银行卡划款</p>
								<p>我们有支持银联转账，请与线上客服联系取得划款资讯。目前提供中国建设银行、中国工商银行、中国农业银行三间银行可选择，同行互转充值到账时间约为五到十分钟，跨行划款需依据银行划款作业时间为基准，我们将于确认到账后立刻为您游戏账户充值。</p>
								<p>二、 线上支付</p>
								<p>会员登入后点选”线上付款”。择入款额度，并请确实填写 ”联络电话” ，如有任何问题，方便亿游国际客服第一时间与您联系；</p>
								<p>选择”支付银行”；</p>
								<p>支持借记卡：中国民生银行总行,中国工商银行,中国建设银行,兴业银行,中国光大银行,深圳发展银行,中国邮政华夏银行,上海浦东发展银行,中国银行,上海银行,交通银行,广东发展银行,北京银行,中信银行,深圳平安银行,中国农业银行,招商银行。请您确认您的支付订单无误，并建议您记录您的支付订单号后，确认送出，并耐心等待载入网络银行页面﹐传输中已将您账户数据加密﹐请耐心等待。进入网络银行页面﹐请确实填写您银行账号信息﹐支付成功﹐额度将在5分钟内系统处理完成，立即加入您的亿游国际会员账户。</p>
								<p>三、充值须知</p>
								<p>亿游国际单笔最低充值为￥50元人民币，平台单笔最高充值5万，每日充值资金不限。未开通网银的会员，请到您的银行柜台办理。如有任何问题，请您联系在线客服。</p>
							</div>
						</li>
						<li>
							<div class="qusetion-title">
								<span>3</span>
								<i class="answer-hide">收起</i>
								<i class="answer-show">打开</i>
								<p>如何提款？</p>
							</div>
							<div class="answer">
								<p>一、提款方法</p>
								<p>会员登入后点选”在线提款”；</p>
								<p>输入提款密码，确认提款人姓名与您银行账号持有人相符；</p>
								<p>输入出款额度，以及有效的手机号码，如有任何问题，请您联系银行在线客服，我们将在第一时间为您解答问题；</p>
								<p>确认提款银行账号正确；</p>
								<p>选择公司金流方式出款；</p>
								<p>绑定工商银行、农业银行、建设银行、招商银行、中国银行、交通银行、中信银行、光大银行、华夏银行、民生银行、广东发展银行、深圳发展银行、邮政储蓄为出款银行的会员，申请提款后正常1-3分钟到账，提款高峰期10-20分钟内到账！</p>
								<p>二、提款须知</p>
								<p>亿游国际最低提款为￥100元人民币，单笔最高提款上限￥50,000.00元人民币。提款时间：10:00至次日凌晨02:00。</p>
								<p>玩家每日提款次数无限制，免费5次。从第六次起按提款金额的1%最高不超过25块手续费收取</p>
							</div>
						</li>
						<li>
							<div class="qusetion-title">
								<span>4</span>
								<i class="answer-hide">收起</i>
								<i class="answer-show">打开</i>
								<p>账号问题</p>
							</div>
							<div class="answer">
								<p>资料绑定注意事项</p>
								<p>在绑定个人银行资料时，本平台允许您绑定五张不同账号的银行卡，但持卡人姓名必须一致，同时持卡人姓名一旦绑定不得再进行任何更改，切记。</p>
							</div>
						</li>
						<li>
							<div class="qusetion-title">
								<span>5</span>
								<i class="answer-hide">收起</i>
								<i class="answer-show">打开</i>
								<p>安全问题</p>
							</div>
							<div class="answer">
								<p>一、如何保障账号安全？</p>
								<p>1.提高网络安全意识，请不要随意上不明的网站，不接受不明信息来源的文件，防止木马入侵电脑，并定期对电脑进行安全检查，避免电脑中病毒和木马导致账户被盗；</p>
								<p>2.首次登录平台，修改初始登录密码并设定账户资金密码，同时锁定您需要用来提款的银行账户；</p>
								<p>3.妥善保管您的登录密码和资金密码，同时切勿相信他人以任何理由向您索要平台账户的登录密码及资金密码。</p>
								<p>二、忘记密码怎么办？</p>
								<p>1. 建议您初始拿到账号请到平台"我的账户-绑定资料"进行登录密码、资金密码、绑定邮箱、密保问题的设定。</p>
							    <p>2. 请妥善保管好您的资金密码，如果资金密码，登录密码和绑定邮箱遗忘将无法再修改和找回密码。</p>
							</div>
						</li>
						<li>
							<div class="qusetion-title">
								<span>6</span>
								<i class="answer-hide">收起</i>
								<i class="answer-show">打开</i>
								<p>平台问题</p>
							</div>
							<div class="answer">
								<p>一、平台对于提款有何规定？</p>
								<p>充值后总投注额小于总充值额30%的提款将不予受理，如有特殊情况，请咨询在线客服申请处理。</p>
								<p>二、在线客服服务时间是什么时候？</p>
								<p>在线客服服务时间为：24小时。</p>
								<p>三、第3方开奖机构不开奖，投注单如何处理？</p>
								<p>所有游戏，如遇第3方开奖机构不开奖，平台会对未获得开奖号码的期数进行撤单返款。撤单后无论第三方以任何形式补开，平台均维持撤单处理。</p>
								<p>四、关于网站以及其他方面的还有许多问题需要向谁询问？</p>
								<p>请点击网页右上方的【在线客服】，本公司独家研发的在线客服系统备有最亲切，最专业的客服人员随时为您服务。</p>
							</div>
						</li>
						<li>
							<div class="qusetion-title">
								<span>7</span>
								<i class="answer-hide">收起</i>
								<i class="answer-show">打开</i>
								<p>账户冻结/回收</p>
							</div>
							<div class="answer answer-qi">
								<p>为了保障会员的资金账号安全和清除服务器无用缓存，给广大用户带去更加快捷稳定流畅的游戏体验，系统将对满足以下条件的账号进行自动冻结、清除资金和删除账号操作。</p>
								<p>一、冻结账号：</p>
								<p>（联系在线客服提供资料核实无误，确定没有任何被盗情形即可解冻）</p>
								<p>条件一：连续6次登录密码输入错误的账号；</p>
								<p>条件二：当日修改任何密码超过3次的账号；</p>
								<p>条件三：超过30天未登录的账号；</p>
								<p>条件四：当日登录IP变更超过两次的账号；</p>
								<p>二、清除金额账号：</p>
								<p>（清理账户上的所有资金，包括各账户的与分红， 类型记录为“提款”）</p>
								<p>条件一：冻结超过十天，十天内无登录、无账变的。</p>
								<p>条件二：超过三个月未登录、无账变的。</p>
								<p>三、删除账号：</p>
								<p>条件一： 注册后一周未登录且未绑定资料的账号。</p>
								<p>条件二： 半个月未登录，余额小于10元，无下级，两个月内无账变的账号。</p>
								<p>条件三： 冻结三个月的，无下级，三个月无账户变的账号。</p>
							</div>
						</li>
						<li>
							<div class="qusetion-title">
								<span>8</span>
								<i class="answer-hide">收起</i>
								<i class="answer-show">打开</i>
								<p>平台最高奖金和单挑模式最高奖金</p>
							</div>
							<div class="answer">
								<p>致尊敬的亿游国际玩家：</p>
								<p>1、平台1.5分彩/3分彩/5分彩/时时彩/11选5/快乐8，奖金当期最高模式限额100万，当期最高超出100万奖金的按100万计算；福彩3D/排列3/快3奖金当前最高限额20万，当期最高超过20万的奖金按20万计算。</p>
								</br>
								<p>2、平台所有彩种投注注数低于以下：五星玩法3500注、四星玩法1250注、三星玩法30注、二星玩法5注、组三玩法5注、组六玩法2注（奖金超过投注金额100倍以上）均为单挑模式。单挑模式每期奖金最高限额18000元，超过将按18000元返还。</p>
								</br>
								<p style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果有疑问请联系我们的在线客服进行咨询，谢谢！</p>
								<p style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;祝您游戏愉快！</p>
							</div>
						</li>
					</ul>
					
				</div>
			</div>		
		</div>
	</div>
</div>
</main>

<!-- 底部 -->
<footer></footer>  
</body>
    <script src="/js/jquery-1.11.3.min.js"></script> 
    <script src="/lib/jquerySession.js" type="text/javascript"></script>
	<script src="/js/require.js"></script>
	<script src="/config/requireConfig.js"></script>
	<script src="/lib/angular.min.js" type="text/javascript"></script>

<script>

	require([
		"view/header/Header",
		"view/footer/footer",
	],function(Header,footer){
		new Header();
		new footer();
	});

</script>

<script>

$(document).ready(function(){
	adjust();
})
function adjust(){
	var _bHeight = document.body.clientHeight;
	if(_bHeight>870){
		$(".footer").css({"position":"absolute","bottom":"0"});
		var mgTop=(_bHeight-240);
		$(".pro-ct").css({"min-height":mgTop+"px","padding-bottom":"130px"});
	}
	else{
		$(".footer").css({"position":"relative"});
		$(".ty-main").css({"height":"auto"});
	}
}
$(window).resize(function(){
	adjust();
});


$(".helpcenter .qusetion-title").click(function(){
	var _that=$(this).parent("li");
	if(_that.attr("class")=="cur"){
		_that.removeClass("cur");
		return false;
	}	
});
$(".nav-zuo li").mouseenter(function(){
	var _this = $(this).children("i").children("img");
	_this.animate({left:"-38px"});
});
$(".nav-zuo li").mouseleave(function(){
	if($(this).attr("class")=="cur")
		return false;
	var _this = $(this).children("i").children("img");
	_this.animate({left:"0"});
});

$(function () {
    var searchStr = window.location.search;
    var code = getQueryString(searchStr.substr(1), "code");
    if (code == "deposit") {
        $("#helpli li").eq(1).addClass("cur");
    } else if (code == "withdrawals") {
        $("#helpli li").eq(2).addClass("cur");
    } else if (code == "account") {
        $("#helpli li").eq(3).addClass("cur");
    } else if (code == "safety") {
        $("#helpli li").eq(4).addClass("cur");
    } else if (code == "platform") {
        $("#helpli li").eq(5).addClass("cur");
    } else {
        $("#helpli li").eq(0).addClass("cur");
    }
    
/**
* 根据name在str中取相应值
* @param str : "id=123&code=aaa"
* @param name
* @returns
*/
function getQueryString(str, name) {
if (!name) {
return "";
}
var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
var r = str.match(reg);
if (r != null) {
return (r[2]);
}
return "";
}

});

$(".helpcenter .qusetion-title").click(function () {
    var _that = $(this).parent("li");
    if (_that.attr("class") == "cur") {
        _that.removeClass("cur");
        return false;
    }
})

</script>

</html>
