<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.front.dao.mapper.UserChargeMapper" >
  <resultMap id="BaseResultMap" type="com.front.model.UserCharge" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="charge_order" property="chargeOrder" jdbcType="VARCHAR" />
    <result column="charge_num" property="chargeNum" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="DOUBLE" />
    <result column="charge_date" property="chargeDate" jdbcType="TIMESTAMP" />
    <result column="charge_ip" property="chargeIp" jdbcType="VARCHAR" />
    <result column="charge_account" property="chargeAccount" jdbcType="INTEGER" />
    <result column="actual_account" property="actualAccount" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="success_date" property="successDate" jdbcType="TIMESTAMP" />
    <result column="charge_type" property="chargeType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, charge_order, charge_num, uid, uname, account, charge_date, charge_ip, charge_account, 
    actual_account, status, remark, is_delete, success_date
  </sql>
  
  <select id="queryUserCharge" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tr_user_charge
    where charge_order = #{chargeOrder,jdbcType=VARCHAR}
  </select>
 
  <insert id="insert" parameterType="com.front.model.UserCharge" useGeneratedKeys="true" keyProperty="id">
    insert into tr_user_charge (id, charge_order, charge_num, 
      uid, uname, account, 
      charge_date, charge_ip, charge_account, 
      actual_account, status, remark, 
      is_delete, success_date,charge_type) 
      values (#{id,jdbcType=INTEGER}, nextval('RECHARGE'), nextval('RECHARGE_NO'), 
      #{uid,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, #{account,jdbcType=DOUBLE}, 
      #{chargeDate,jdbcType=TIMESTAMP}, #{chargeIp,jdbcType=VARCHAR}, #{chargeAccount,jdbcType=INTEGER}, 
      #{actualAccount,jdbcType=DOUBLE}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=INTEGER}, #{successDate,jdbcType=TIMESTAMP},
      #{chargeType,jdbcType=INTEGER})
  </insert>
  
  
  <update id="onLineCharge" parameterType="com.front.model.UserCharge" >
    update tr_user_charge
    <set >
      <if test="chargeOrder != null" >
        charge_order = #{chargeOrder,jdbcType=VARCHAR},
      </if>
      <if test="chargeNum != null" >
        charge_num = #{chargeNum,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=DOUBLE},
      </if>
      <if test="chargeDate != null" >
        charge_date = #{chargeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chargeIp != null" >
        charge_ip = #{chargeIp,jdbcType=VARCHAR},
      </if>
      <if test="chargeAccount != null" >
        charge_account = #{chargeAccount,jdbcType=INTEGER},
      </if>
      <if test="actualAccount != null" >
        actual_account = #{actualAccount,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="successDate != null" >
        success_date = #{successDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>