<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="shortcut icon" href="/favicon.ico" />
<title>博联娱乐-首页</title>
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/all.css" rel="stylesheet">
<link href="/css/index.css" rel="stylesheet">
</head>
<body ng-app>  
	<!-- 头部 -->
	<!-- <div ng-include="'/top.html'"></div> -->
	<div class="top-bg"></div>
	<main style="background: #fffef3;"> <!-- banner -->
	<div class="main-banner">
		<div id="slideshow" class="magbp img_block"
			style="height: 600px; width: 100%; position: relative;">
			<ul class="bjqs main-banner"
				style="height: 600px; width: 100%; display: block;">
				<li class="bjqs-slide" style="display: none"><a >
						<img src="/images/all/banner/waipan.jpg" 
						height="600" width="1920" alt="">
				</a></li>
				<li class="bjqs-slide"
					style="height: 600px; width: 100%; display: none;"><a
					href="javascript:;"><img
						src="/images/all/banner/banr3.jpg" 
						height="600" width="1920" alt=""></a></li>
				<li class="bjqs-slide"
					style="height: 600px; width: 100%; display: none;"><a
					href="javascript:;"><img
						src="/css/all/dzyy-bg.jpg" 
						height="600" width="1920" alt=""></a></li>
				<li class="bjqs-slide"
					style="height: 600px; width: 100%; display: none;"><a
					href="javascript:;"><img
						src="/images/all/banner/banr1.jpg" 
						height="600" width="1920" alt=""></a></li>
				<li class="bjqs-slide"
					style="height: 600px; width: 100%; display: none;"><a><img
						src="/images/all/banner/niuniu.png" 
						height="600" width="1920" alt=""></a></li>
			</ul>
			<ul class="bjqs-controls v-centered">
				<li class="bjqs-prev"><a href="javascript:void(0);"
					data-direction="previous">Prev</a></li>
				<li class="bjqs-next"><a href="javascript:void(0);"
					data-direction="forward">Next</a></li>
			</ul>
		</div>
	</div>
	<div class="main-bg">
		<div class="center">
			<div class="game">
				<div class="title">
					<h3>游戏大厅</h3>
					<p>Games&nbsp;Center</p>
				</div>
				<ul class="game-into overhd">
					<li class="ssc"><div>
							<img src="/images/index/in-ssc.jpg" 
								alt="#">
							<p class="lott-logo ssc"></p>
							<p class="into-game">
								<a href="/view/game.html" >进入游戏</a>
							</p>
						</div></li>
					<li class="klc"><div>
							<img src="/images/index/in-klc.jpg" 
								alt="#">
							<p class="lott-logo klc"></p>
							<p class="into-game">
								<a href="/view/game.html" >进入游戏</a>
							</p>
						</div></li>
					<li class="xy28"><div>
							<img src="/images/index/in-xy28.jpg" 
								alt="#">
							<p class="lott-logo xy28"></p>
							<p class="into-game">
								<a href="/view/game.html" >进入游戏</a>
							</p>
						</div></li>
					<li class="zryl"><div>
							<img src="/images/index/in-zryl.jpg" 
								alt="#">
							<p class="lott-logo real"></p>
							<p class="into-game">
								<a href="/view/game.html" >进入游戏</a>
							</p>
						</div></li>
				</ul>
			</div>
			<div class="download">
				<div class="title">
					<h3>下载中心</h3>
					<p>Download&nbsp;Center</p>
				</div>
				<ul class="ul-flex">
					<li class="win"><i></i>
					<p>Windows版</p>
						<a
						href="'"
						target="_blank">立即下载</a></li>
					<li class="mac"><i></i>
					<p>Mac版</p>
						<a
						href=""
						 >立即下载</a></li>
					<li class="iph"><i></i>
					<p>iPhone版</p>
						<a
						href="" target="_blank">立即下载</a></li>
					<li class="and"><i></i>
					<p>Android版</p>
						<a
						href="" target="_blank">立即下载</a></li>
					<li class="wap"><i></i>
					<p>手机Wap版</p>
						<a href="javascript:;" onclick="popTips('暂未开通', 'error')">立即下载</a></li>
				</ul>
			</div>
			<div class="servise" style="display: none;">
				<div class="title">
					<h3>服务优势</h3>
					<p>Service&nbsp;Advantage</p>
				</div>
				<ul class="body ul-flex">
					<li class="ctsd"><div>
							<p>充提速度</p>
							<span><strong>1</strong>分钟</span>
						</div>
						<h5>存取款方便快捷</h5>
						<p class="txt">为玩家提供一系列安全、可靠、便捷 的服务，充提最快1分钟即可到账</p></li>
					<li class="fhzq"><div>
							<p>分红周期</p>
							<span><strong>1</strong>天</span>
						</div>
						<h5>高额返点/返水</h5>
						<p class="txt">本平台集合全球最流行10大在线娱 乐平台，高效、高速的分红周期</p></li>
					<li class="yhfw"><div>
							<p>银行服务</p>
							<span><strong>34</strong>家</span>
						</div>
						<h5>便捷的银行服务</h5>
						<p class="txt">支持国内32家主流银行，让您充值 提现不存在任何烦恼</p></li>
				</ul>
				<div class="jindu">
					<div id="chart1" class="plan1 plan" data-percent="80"></div>
					<div id="chart2" class="plan2 plan" data-percent="70"></div>
					<div id="chart3" class="plan3 plan" data-percent="75"></div>
				</div>
			</div>
			<div class="promotion" style="display: none;">
				<div class="title">
					<h3>优惠活动</h3>
					<p>Promotions</p>
				</div>
				<div class="promo-banner overhd">
					<div class="ef-left efb-g30">
						<h5>全民英雄逆袭之战</h5>
						<p>活动时间：2016／06／02－2016／07／02 playtech狂潮，一个新时代的崛起，狂送3重
							奖，共两行活动文字简介...</p>
					</div>
					<div class="ef-right efb-g70">
						<div class="promo-bg">
							<a href="view/about/promotions.html" >
							<img
								src="/images/index/pro.jpg" 
								alt="#"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>

	<!-- 底部 -->
	<!-- <div ng-include="'/bottom.html'"></div> -->
	<footer> </footer>
	<!--红包排行-->
	<script src="/js/jquery-1.11.3.min.js"></script> 
	<script src="/lib/jquerySession.js" type="text/javascript"></script>
	<script src="/lib/jquery-dateFormat.min.js"
		type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/unslider.js" type="text/javascript"></script>
	<script src="/js/jquery.easypiechart.min.js"
		type="text/javascript"></script>
	<script src="/lib/way.min.js" type="text/javascript"></script>
	<script src="/lib/handlebars-v2.0.0custom.js"
		type="text/javascript"></script>
	<script src="/js/layer/layer.js" type="text/javascript"></script>
	<script src="/lib/angular.min.js" type="text/javascript"></script>
	<script src="/js/common.js" type="text/javascript"></script>
	<script src="/js/crypto-js.min.js"></script>
	<!--<script src="resources/main/top.js" type="text/javascript"></script>-->
	<script src="/js/require.js"></script>
	<script src="/lib/template.js" type="text/javascript"></script>
	<script src="/config/requireConfig.js"></script> 
	<script type="text/javascript" src="/index/index.js" ></script>
	<script>
		require([ "view/header/Header", "view/footer/footer", ], function(
				Header, footer) {
			new Header();
			new footer();
		});
		window.onload = function(){
			$(".nav-main").children().eq(0).removeClass("cur");
			$(".nav-main").children().eq(0).addClass("cur"); 
		}
	</script> 
</body>
</html>